<header>
    <div class="wrapper">
        <div>
            <a routerLink="/" routerLinkActive="selected">Lojinha</a>
        </div>
        <div class="align-center">
            <div >
                <a *ngIf="profile == 'administrador' " routerLink="/gerenciar/usuarios" routerLinkActive="selected">Gerenciar Usuários</a>
            </div>
            <div >
                <a *ngIf="profile == 'administrador' || profile == 'estoquista'" routerLink="/gerenciar/produtos" routerLinkActive="selected">Gerenciar Produtos</a>
            </div>
        </div>
        <div *ngIf="userName">
            <a *ngIf="profile == 'cliente' || profile == 'estoquista' " routerLink="/gerenciar/usuarios" routerLinkActive="selected">Olá {{userName}}</a>
            <a *ngIf="profile == 'cliente' || profile == 'estoquista' " routerLink="/pedidos" routerLinkActive="selected">Meus pedidos</a>
        </div>
        <div>
            <a routerLink="/carrinho" routerLinkActive="selected" >Carrinho</a>
        </div>
    <button *ngIf="profile" (click)="exit()">Sair</button>
    <button *ngIf="!profile" (click)="login()">Entrar</button>
    </div>
</header>