<header>
    <div class="wrapper">
        <div>
            <a routerLink="/" routerLinkActive="selected">Lojinha</a>
        </div>
        <div class="align-center">
            <div >
                <a *ngIf="profile == 'administrador' " routerLink="/gerenciar/usuarios" routerLinkActive="selected">Gerenciar Usuários</a>
            </div>
            <div >
                <a *ngIf="profile !== 'cliente' " routerLink="/gerenciar/produtos" routerLinkActive="selected">Gerenciar Produtos</a>
            </div>
        </div>
        <div *ngIf="userName">
            <a *ngIf="profile == 'cliente' " routerLink="/gerenciar/usuarios" routerLinkActive="selected">Olá {{userName}}</a>
        </div>
    <button (click)="exit()">Sair</button>
    </div>
</header>